### CRACKING THIS BUSINESS PROBLEM

Renting a house or an apartment is never easy. Whether you are a college student or a working professional, renting a place 
always seems like a daunting task that is often impulsive or risky. Rent is influenced by several factors.

In this challenge, participants will predict the house-rents using data science methods, machine learning, and hyperparameter 
tuning.

Train: 134683 rows x 21 columns 

Test: 57722 rows x 20 columns

Data description:

- 'Property_ID', = Unique id of the property

- 'room',  No. of rooms available

- 'layout_type',  ['BHK' 'RK']

- 'property_type', = ['Apartment' 'Studio Apartment' 'Independent Floor' 'Independent House' 'Villa' 'Penthouse']

- 'locality',  = Overall Locality description

- 'price', = Rent in INR

- 'area', = in Square Feet

- 'furnish_type', ['Semi-Furnished' 'Furnished' 'Unfurnished']

- 'bathroom',: No. of Bathrooms

- 'city', : ['Ahmedabad' 'Bangalore' 'Chennai' 'Delhi' 'Hyderabad' 'Kolkata' 'Mumbai' 'Pune']

- 'parking_spaces',: 1 or 0  : 1 = Yes, 0 = No

- 'floor',: Floor from 0 to 20

- 'pet_friendly', : 1 or 0  : 1 = Yes, 0 = No

- 'power_backup', : 1 or 0  : 1 = Yes, 0 = No

- 'washing_machine',: 1 or 0  : 1 = Yes, 0 = No

- 'air_conditioner', : 1 or 0  : 1 = Yes, 0 = No

- 'geyser/solar',: 1 or 0  : 1 = Yes, 0 = No

- 'security_deposit', Amount of security Deposit

- 'neighborhood', : Nearest Metro/Bus/Mall in meters

- 'CCTV/security' : CCTV available 1 or 0  : 1 = Yes, 0 = No

- 'lift': 1 or 0  : 1 = Yes, 0 = No

## IMPORTING LIBRARIES

In [1]:
import seaborn as sns
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

plt.rcParams['figure.figsize'] = [15,8]

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,Property_ID,room,layout_type,property_type,locality,price,area,furnish_type,bathroom,city,...,floor,pet_friendly,power_backup,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood
0,42208,3,BHK,Independent House,Palavakkam,33624,1312,Furnished,2,Chennai,...,1,1,0,0,1,0,302616,0,0,300
1,90879,1,BHK,Apartment,Manikonda,9655,1474,Unfurnished,2,Hyderabad,...,17,0,1,0,0,1,19310,0,1,1600
2,99943,3,BHK,Apartment,Jodhpur Park,23699,1837,Semi-Furnished,2,Kolkata,...,10,1,1,1,1,0,118495,0,1,3100
3,113926,1,BHK,Apartment,Chembur,6306,606,Unfurnished,1,Mumbai,...,18,0,0,0,0,0,37836,0,1,300
4,185438,1,BHK,Studio Apartment,Kalewadi Pandhapur Road,12008,498,Semi-Furnished,3,Pune,...,14,0,0,1,1,0,72048,0,1,0


# BASE MODEL

In [4]:
test['price'] = train.price.mean()
solution = pd.DataFrame({"price" : test['price']})

In [54]:
solution.to_csv('BaseModel.csv', index = False)  #60600.51196

#### RMSE VALUE AFTER UPLOADING BASE MODEL CSV FILE IS 60600.51196

# EDA

In [5]:
test = test.drop('price', axis = 1)
combined = pd.concat([train,test], ignore_index = True)

In [6]:
combined.shape

(192405, 21)

In [7]:
combined.tail()

,Property_ID,room,layout_type,property_type,locality,price,area,furnish_type,bathroom,city,...,floor,pet_friendly,power_backup,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood
192400,132027,3,BHK,Apartment,Dadar West,NaN,1628,Semi-Furnished,2,Mumbai,...,4,0,0,1,1,0,77049,0,0,2900
192401,86405,1,BHK,Apartment,Kondapur,NaN,729,Unfurnished,1,Hyderabad,...,3,1,0,0,0,0,29074,1,0,3100
192402,16233,3,RK,Independent Floor,Chandkheda,NaN,897,Furnished,3,Ahmedabad,...,8,1,1,0,1,1,188088,1,1,1100
192403,63020,3,BHK,Independent Floor,Uttam Nagar,NaN,2229,Unfurnished,1,Delhi,...,0,1,1,0,0,0,103938,0,0,1500
192404,62907,2,BHK,Apartment,Vivek Vihar,NaN,839,Semi-Furnished,3,Delhi,...,8,1,0,1,1,1,84788,1,1,300

In [8]:
combined.layout_type.unique()

array(['BHK', 'RK'], dtype=object)

In [9]:
combined.property_type.unique()

array(['Independent House', 'Apartment', 'Studio Apartment',
       'Independent Floor', 'Villa', 'Penthouse'], dtype=object)

In [10]:
combined.locality.unique()

array(['Palavakkam', 'Manikonda', 'Jodhpur Park', ...,
       'Dhanalakshmi Layout', 'Kalyani Nagar Annexe',
       'Neeladri Investment Layout 6th Main Road'], dtype=object)

In [11]:
combined.furnish_type.unique()

array(['Furnished', 'Unfurnished', 'Semi-Furnished'], dtype=object)

In [12]:
combined.columns

Index(['Property_ID', 'room', 'layout_type', 'property_type', 'locality',
       'price', 'area', 'furnish_type', 'bathroom', 'city', 'parking_spaces',
       'floor', 'pet_friendly', 'power_backup', 'washing_machine',
       'air_conditioner', 'geyser/solar', 'security_deposit', 'CCTV/security',
       'lift', 'neighbourhood'],
      dtype='object')

In [17]:
combined['neighbourhood'] = combined['neighbourhood']/1000

In [18]:
combined['neighbourhood'].describe()

count    192405.000000
mean          2.030429
std           1.160943
min           0.000000
25%           1.100000
50%           2.000000
75%           3.000000
max           4.000000
Name: neighbourhood, dtype: float64

In [19]:
combined.head()

,Property_ID,room,layout_type,property_type,locality,price,area,furnish_type,bathroom,city,...,floor,pet_friendly,power_backup,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood
0,42208,3,BHK,Independent House,Palavakkam,33624.0,1312,Furnished,2,Chennai,...,1,1,0,0,1,0,302616,0,0,0.3
1,90879,1,BHK,Apartment,Manikonda,9655.0,1474,Unfurnished,2,Hyderabad,...,17,0,1,0,0,1,19310,0,1,1.6
2,99943,3,BHK,Apartment,Jodhpur Park,23699.0,1837,Semi-Furnished,2,Kolkata,...,10,1,1,1,1,0,118495,0,1,3.1
3,113926,1,BHK,Apartment,Chembur,6306.0,606,Unfurnished,1,Mumbai,...,18,0,0,0,0,0,37836,0,1,0.3
4,185438,1,BHK,Studio Apartment,Kalewadi Pandhapur Road,12008.0,498,Semi-Furnished,3,Pune,...,14,0,0,1,1,0,72048,0,1,0.0

In [20]:
# distance < 1 : proximity , distance < 2 : vicinity 

def dist(x):
    if (x < 1):
        return('Proximity')
    elif(x < 2):
        return('Vicinity')
    else:
        return('Far')

In [21]:
combined['distance'] = combined['neighbourhood'].apply(dist)

In [22]:
combined.distance.value_counts()

Far          97385
Vicinity     53738
Proximity    41282
Name: distance, dtype: int64

In [24]:
# room into category 1: studio, <3 small , bigger

def rooms(x):
    if(x == 1):
        return('Studio')
    elif(x < 3):
        return('Small')
    else:
        return('Large')

In [25]:
combined['room_cat'] = combined['room'].apply(rooms)

In [72]:
#combined_room = combined.drop('room', axis = 1, inplace = True)

In [26]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192405 entries, 0 to 192404
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Property_ID       192405 non-null  int64
 1   room              192405 non-null  int64
 2   layout_type       192405 non-null  object
 3   property_type     192405 non-null  object
 4   locality          192405 non-null  object
 5   price             134683 non-null  float64
 6   area              192405 non-null  int64
 7   furnish_type      192405 non-null  object
 8   bathroom          192405 non-null  int64
 9   city              192405 non-null  object
 10  parking_spaces    192405 non-null  int64
 11  floor             192405 non-null  int64
 12  pet_friendly      192405 non-null  int64
 13  power_backup      192405 non-null  int64
 14  washing_machine   192405 non-null  int64
 15  air_conditioner   192405 non-null  int64
 16  geyser/solar      192405 non-null  int64
 17  security_deposit  192405 non-null  int64
 18  CCTV/security     192405 non-null  int64
 19  lift              192405 non-null  int64
 20  neighbourhood     192405 non-null  float64
 21  distance          192405 non-null  object
 22  room_cat          192405 non-null  object
dtypes: float64(2), int64(14), object(7)
memory usage: 33.8+ MB

In [28]:
combined = combined.drop("room", axis = 1)

In [29]:
combined.head()

,Property_ID,layout_type,property_type,locality,price,area,furnish_type,bathroom,city,parking_spaces,...,power_backup,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood,distance,room_cat
0,42208,BHK,Independent House,Palavakkam,33624.0,1312,Furnished,2,Chennai,1,...,0,0,1,0,302616,0,0,0.3,Proximity,Large
1,90879,BHK,Apartment,Manikonda,9655.0,1474,Unfurnished,2,Hyderabad,0,...,1,0,0,1,19310,0,1,1.6,Vicinity,Studio
2,99943,BHK,Apartment,Jodhpur Park,23699.0,1837,Semi-Furnished,2,Kolkata,0,...,1,1,1,0,118495,0,1,3.1,Far,Large
3,113926,BHK,Apartment,Chembur,6306.0,606,Unfurnished,1,Mumbai,0,...,0,0,0,0,37836,0,1,0.3,Proximity,Studio
4,185438,BHK,Studio Apartment,Kalewadi Pandhapur Road,12008.0,498,Semi-Furnished,3,Pune,0,...,0,1,1,0,72048,0,1,0.0,Proximity,Studio

In [30]:
combined.describe()

,Property_ID,price,area,bathroom,parking_spaces,floor,pet_friendly,power_backup,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood
count,192405.000000,134683.000000,192405.000000,192405.000000,192405.000000,192405.000000,192405.000000,192405.000000,192405.000000,192405.000000,192405.000000,1.924050e+05,192405.000000,192405.000000,192405.000000
mean,96203.000000,36690.033894,1479.791388,2.040831,0.534929,9.163057,0.526639,0.338136,0.472566,0.692903,0.440534,2.203700e+05,0.562018,0.595676,2.030429
std,55542.683609,62620.364025,1412.543208,0.867669,0.498780,5.957812,0.499291,0.473076,0.499248,0.461291,0.496453,4.204890e+05,0.496140,0.490762,1.160943
min,1.000000,1583.000000,81.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.172000e+03,0.000000,0.000000,0.000000
25%,48102.000000,12035.500000,759.000000,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.576400e+04,0.000000,0.000000,1.100000
50%,96203.000000,20856.000000,1114.000000,2.000000,1.000000,9.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.142700e+05,1.000000,1.000000,2.000000
75%,144304.000000,36014.000000,1573.000000,2.000000,1.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.206200e+05,1.000000,1.000000,3.000000
max,192405.000000,799325.000000,13942.000000,5.000000,1.000000,19.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.940780e+06,1.000000,1.000000,4.000000

In [31]:
# convert 0 and 1 to categorical variable
combined['lift'] = combined.lift.astype('object')
combined['geyser/solar'] = combined['geyser/solar'].astype('object')
combined['CCTV/security'] = combined['CCTV/security'].astype('object')
combined['air_conditioner'] = combined['air_conditioner'].astype('object')
combined['washing_machine'] = combined['washing_machine'].astype('object')
combined['power_backup'] = combined['power_backup'].astype('object')
combined['pet_friendly'] = combined['pet_friendly'].astype('object')
combined['parking_spaces'] = combined['parking_spaces'].astype('object')

In [32]:
# city

combined.city.unique()

array(['Chennai', 'Hyderabad', 'Kolkata', 'Mumbai', 'Pune', 'Delhi',
       'Bangalore', 'Ahmedabad'], dtype=object)

In [33]:
north = ['Delhi']
south  = ['Chennai', 'Bangalore', 'Hyderabad']
west = ['Mumbai', 'Ahmedabad', 'Pune']
east = ['Kolkata']

In [34]:
def city_c(x):
    if x in north:
        return('North')
    elif(x in west):
        return('West')
    elif(x in east):
        return('East')
    else:
        return('South')

In [35]:
combined['city_cat'] = combined['city'].apply(city_c)

In [37]:
combined = combined.drop(["Property_ID", "city"], axis = 1)

In [38]:
combined.head()

,layout_type,property_type,locality,price,area,furnish_type,bathroom,parking_spaces,floor,pet_friendly,...,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood,distance,room_cat,city_cat
0,BHK,Independent House,Palavakkam,33624.0,1312,Furnished,2,1,1,1,...,0,1,0,302616,0,0,0.3,Proximity,Large,South
1,BHK,Apartment,Manikonda,9655.0,1474,Unfurnished,2,0,17,0,...,0,0,1,19310,0,1,1.6,Vicinity,Studio,South
2,BHK,Apartment,Jodhpur Park,23699.0,1837,Semi-Furnished,2,0,10,1,...,1,1,0,118495,0,1,3.1,Far,Large,East
3,BHK,Apartment,Chembur,6306.0,606,Unfurnished,1,0,18,0,...,0,0,0,37836,0,1,0.3,Proximity,Studio,West
4,BHK,Studio Apartment,Kalewadi Pandhapur Road,12008.0,498,Semi-Furnished,3,0,14,0,...,1,1,0,72048,0,1,0.0,Proximity,Studio,West

In [39]:
combined.head()

,layout_type,property_type,locality,price,area,furnish_type,bathroom,parking_spaces,floor,pet_friendly,...,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood,distance,room_cat,city_cat
0,BHK,Independent House,Palavakkam,33624.0,1312,Furnished,2,1,1,1,...,0,1,0,302616,0,0,0.3,Proximity,Large,South
1,BHK,Apartment,Manikonda,9655.0,1474,Unfurnished,2,0,17,0,...,0,0,1,19310,0,1,1.6,Vicinity,Studio,South
2,BHK,Apartment,Jodhpur Park,23699.0,1837,Semi-Furnished,2,0,10,1,...,1,1,0,118495,0,1,3.1,Far,Large,East
3,BHK,Apartment,Chembur,6306.0,606,Unfurnished,1,0,18,0,...,0,0,0,37836,0,1,0.3,Proximity,Studio,West
4,BHK,Studio Apartment,Kalewadi Pandhapur Road,12008.0,498,Semi-Furnished,3,0,14,0,...,1,1,0,72048,0,1,0.0,Proximity,Studio,West

In [40]:
combined.columns

Index(['layout_type', 'property_type', 'locality', 'price', 'area',
       'furnish_type', 'bathroom', 'parking_spaces', 'floor', 'pet_friendly',
       'power_backup', 'washing_machine', 'air_conditioner', 'geyser/solar',
       'security_deposit', 'CCTV/security', 'lift', 'neighbourhood',
       'distance', 'room_cat', 'city_cat'],
      dtype='object')

In [41]:
combined.corr()

,price,area,bathroom,floor,security_deposit,neighbourhood
price,1.000000,0.020436,0.041852,0.009306,0.897503,-0.018155
area,0.020436,1.000000,0.051163,0.010395,0.020747,-0.008769
bathroom,0.041852,0.051163,1.000000,0.039041,0.038587,-0.036691
floor,0.009306,0.010395,0.039041,1.000000,0.007952,-0.011015
security_deposit,0.897503,0.020747,0.038587,0.007952,1.000000,-0.017883
neighbourhood,-0.018155,-0.008769,-0.036691,-0.011015,-0.017883,1.000000

In [42]:
# Floor
combined['floor'] = combined.floor.astype('object')

In [43]:
  floormap=pd.DataFrame(combined.floor.value_counts()/combined.floor.value_counts().sum()).reset_index()

In [44]:
floormap

    index     floor
0       2  0.093890
1       3  0.066012
2       4  0.060872
3      17  0.060383
4      19  0.053263
5       1  0.052894
6      15  0.051958
7       5  0.051740
8      16  0.048346
9      10  0.046693
10     11  0.045778
11     18  0.045472
12     12  0.044178
13      6  0.043866
14      9  0.042707
15     13  0.042598
16      8  0.039017
17     14  0.038741
18      7  0.036543
19      0  0.035051

In [45]:
floormap.rename(columns={"index":"floor", "floor":"percent"}, inplace = True)

In [46]:
combined  = pd.merge(combined, floormap, on =["floor"], how = "left")

In [47]:
combined = combined.drop(['floor', 'locality'], axis = 1)

In [48]:
combined.head()

,layout_type,property_type,price,area,furnish_type,bathroom,parking_spaces,pet_friendly,power_backup,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood,distance,room_cat,city_cat,percent
0,BHK,Independent House,33624.0,1312,Furnished,2,1,1,0,0,1,0,302616,0,0,0.3,Proximity,Large,South,0.052894
1,BHK,Apartment,9655.0,1474,Unfurnished,2,0,0,1,0,0,1,19310,0,1,1.6,Vicinity,Studio,South,0.060383
2,BHK,Apartment,23699.0,1837,Semi-Furnished,2,0,1,1,1,1,0,118495,0,1,3.1,Far,Large,East,0.046693
3,BHK,Apartment,6306.0,606,Unfurnished,1,0,0,0,0,0,0,37836,0,1,0.3,Proximity,Studio,West,0.045472
4,BHK,Studio Apartment,12008.0,498,Semi-Furnished,3,0,0,0,1,1,0,72048,0,1,0.0,Proximity,Studio,West,0.038741

In [49]:
combined.columns

Index(['layout_type', 'property_type', 'price', 'area', 'furnish_type',
       'bathroom', 'parking_spaces', 'pet_friendly', 'power_backup',
       'washing_machine', 'air_conditioner', 'geyser/solar',
       'security_deposit', 'CCTV/security', 'lift', 'neighbourhood',
       'distance', 'room_cat', 'city_cat', 'percent'],
      dtype='object')

In [50]:
combined.shape, train.shape, test.shape

((192405, 20), (134683, 21), (57722, 20))

In [51]:
newtrain = combined.loc[0:train.shape[0]-1]
newtrain.tail()

,layout_type,property_type,price,area,furnish_type,bathroom,parking_spaces,pet_friendly,power_backup,washing_machine,air_conditioner,geyser/solar,security_deposit,CCTV/security,lift,neighbourhood,distance,room_cat,city_cat,percent
134678,BHK,Independent Floor,222987.0,641,Unfurnished,1,1,1,0,0,0,1,1783896,1,1,3.9,Far,Large,West,0.053263
134679,BHK,Independent Floor,6958.0,619,Unfurnished,2,0,1,1,0,0,1,62622,0,0,1.2,Vicinity,Studio,West,0.093890
134680,BHK,Apartment,85812.0,2279,Semi-Furnished,3,1,0,1,1,1,0,429060,0,0,3.9,Far,Large,West,0.051740
134681,BHK,Apartment,15919.0,1314,Unfurnished,2,0,0,1,0,0,0,79595,0,1,2.3,Far,Studio,West,0.038741
134682,RK,Independent Floor,37021.0,798,Semi-Furnished,2,0,0,0,1,1,1,74042,0,1,3.6,Far,Studio,South,0.039017

In [52]:
newtest = combined.loc[train.shape[0]:,]

In [53]:
newtrain.shape, newtest.shape

((134683, 20), (57722, 20))

In [54]:
newtest = newtest.drop('price', axis = 1)

In [55]:
dummytrain = pd.get_dummies(newtrain, drop_first = True)
dummytest = pd.get_dummies(newtest, drop_first = True)

# MODEL BUILDING

In [99]:
#RANDOM FOREST MODEL

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()

X = dummytrain.drop('price', axis= 1)
y = dummytrain.price

In [100]:
price_rf = rf.fit(X,y).predict(dummytest)

In [101]:
solution1 = pd.DataFrame({"price ": price_rf})
solution1.to_csv('RF_model.csv', index = False)

#### RMSE VALUE AFTER UPLOADING RANDOM FOREST CSV FILE IS 62448.04648

In [56]:
from sklearn.ensemble import GradientBoostingRegressor

gbm = GradientBoostingRegressor()

X = dummytrain.drop('price', axis= 1)
y = dummytrain.price

price_gbm = gbm.fit(X,y).predict(dummytest)

In [61]:
solution = pd.DataFrame({"price ": price_gbm})
solution.to_excel('GBM_model.xlsx', index = False)

In [58]:
solution

             price
0      18332.050848
1       6141.480750
2       3338.225226
3      25781.902226
4      22992.342072
...             ...
57717  20120.480926
57718   6423.165860
57719  31643.911718
57720  20731.999260
57721  19227.054179

[57722 rows x 1 columns]

#### RMSE VALUE AFTER UPLOADING RANDOM FOREST CSV FILE IS 26802.41793